extends ../Layout_Users_Stats.jade
block content
    each registro, i in registros
        if i!== 0
            if registros[0].porcentaje_spo2 >= 90
                div(class="card text-white bg-success mb-3" style="max-width: 18rem;")
                    div(class="card-header") Registro #{i}
                    div(class="card-body")
                        h5(class="card-title") SpO2: #{registro.porcentaje_spo2}
                        p(class="card-text") Tienes un porcentaje adecuado y saludable.
                        p(class="card-text") #{registro.fecha}
            else if registros[0].porcentaje_spo2 >= 85 || registros[0].porcentaje_spo2 < 90
                div(class="card text-white bg-warning mb-3" style="max-width: 18rem;")
                    div(class="card-header") Registro #{i}
                    div(class="card-body")
                        h5(class="card-title") SpO2: #{registro.porcentaje_spo2}
                        p(class="card-text") Trate de distraerse con algo que le guste y respire con calma.
                        p(class="card-text") #{registro.fecha}
            else if registros[0].porcentaje_spo2 < 85
                div(class="card text-white bg-danger mb-3" style="max-width: 18rem;")
                    div(class="card-header") Registro #{i}
                    div(class="card-body")
                        h5(class="card-title") SpO2: #{registro.porcentaje_spo2}
                        p(class="card-text") Es muy importante que consulte a su medico ya que usted tiene problemas muy graves de oxigeno.
                        p(class="card-text") #{registro.fecha}
            else
                div(class="card text-white bg-danger mb-3" style="max-width: 18rem;")
                    div(class="card-header") Ultimo Registro
                    div(class="card-body")
                        h5(class="card-title") SpO2: #{registros[0].porcentaje_spo2}
                        p(class="card-text") Es muy importante que consulte a su medico ya que usted tiene problemas muy graves de oxigeno.
                        p(class="card-text") #{registro.fecha}
        else
            if registros[0].porcentaje_spo2 >= 90
                div(class="card text-white bg-success mb-3" style="max-width: 18rem;")
                    div(class="card-header") Ultimo Registro
                    div(class="card-body")
                        h5(class="card-title") SpO2: #{registros[0].porcentaje_spo2}
                        p(class="card-text") Tienes un porcentaje adecuado y saludable.
                        p(class="card-text") #{registro.fecha}
            else if registros[0].porcentaje_spo2 >= 85 || registros[0].porcentaje_spo2 < 90
                div(class="card text-white bg-warning mb-3" style="max-width: 18rem;")
                    div(class="card-header") Ultimo Registro
                    div(class="card-body")
                        h5(class="card-title") SpO2: #{registros[0].porcentaje_spo2}
                        p(class="card-text") Evite hacer ejercicio y procure vivir en una altitud baja.
                        p(class="card-text") #{registro.fecha}
            else if registros[0].porcentaje_spo2 < 85
                div(class="card text-white bg-danger mb-3" style="max-width: 18rem;")
                    div(class="card-header") Ultimo Registro
                    div(class="card-body")
                        h5(class="card-title") SpO2: #{registros[0].porcentaje_spo2}
                        p(class="card-text") Es muy importante que consulte a su medico ya que usted tiene problemas muy graves de oxigeno.
                        p(class="card-text") #{registro.fecha}
    else
        div(class="col-md-4 mx-auto")
            div(class="card card-body text-center")
                p No hay registros de tu SpO2
                a(href="/stats") Checa tu SpO2 aqui!